.DOCS/
.github/
.pytest_cache/
.vscode/
__pycache__/
*.pyc
.venv
database_backups/
other_tests/
tests/
start_project.bat
static/uploads/
static/ui inspiration/
generate_extension_icons.py
*.zip
wsgi_*.py
plans/
miohub_android_app/